//Colors
//Backgrounds
$BodyBG :  #f3f3f3;
$InputBorder : #e7e7e7;
$BoardingCardBG : linear-gradient(146.37deg, #18F2B1 19.97%, #1877F2 81.7%);
$SeaGreen : #18F2B1;
$Blue : #1877F2;




//Fonts Colors
$BrownWords : #79756A;

//Fonts Sizes Weights
$MainHeadingS : 26px;
$MainHeadingW : 400px;
$RecommededWords : 11px;





// $LabelS : ;
// $LabelW : ; 