@font-face {
    font-family: "Poppins";
    src: url('../../fonts/Poppins/Poppins-Light.ttf');
    
}
@font-face {
    font-family: "Nunito-sans";
    src: url('../../fonts/NunitoSans-Regular.ttf');
}