@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Nunito-sans";
  src: url("../../fonts/NunitoSans-Regular.ttf");
}

* {
  font-family: Lato;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label {
  font-size: 15px;
  line-height: 20px;
}

body {
  background: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

input {
  outline: none;
  border: none;
  border-radius: 8px;
  width: 284px;
  height: 34px;
  padding: 0px 10px;
  border: 1px solid #e7e7e7;
}

input:focus {
  border: 1px solid black;
}

button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  font-family: "Nunito-sans";
  color: white;
  font-weight: 700;
}

#bc {
  padding: 24px;
  background: linear-gradient(146.37deg, #18F2B1 19.97%, #1877F2 81.7%);
  margin-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bc #bh {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bc #bh h1 {
  font-size: 26px;
  color: white;
  font-weight: 400;
  text-align: center;
  width: 281px;
  padding-bottom: 7px;
  border-bottom: 1px solid white;
  font-family: "Poppins";
}

#bc #bh p {
  position: absolute;
  right: 52px;
}

#bc .uflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#bc .umost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#bc .umost .uflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 307px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bc .umost .uflex .ur, #bc .umost .uflex .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 111px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bc .umost .uflex label {
  font-size: 15px;
  font-weight: 700;
}

#bc .umost .uflex p {
  font-style: italic;
  margin-left: 12px;
  color: #79756A;
}

#bc .umost .lflex p {
  margin-top: 20px;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-indent: 12px;
  background: white;
  padding: 7px 10px;
  border-radius: 9px;
  width: 287px;
  max-height: 107px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#bc .umost .lflex p::-webkit-scrollbar {
  width: 4px;
  background: white;
}

#bc .umost .lflex p::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #727a72;
}

#bc #imjs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 107px 107px;
      grid-template-columns: 107px 107px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 8px;
}

#bc #imjs img {
  overflow: hidden;
  border-radius: 17px;
  width: 107px;
  height: 79px;
  -o-object-fit: fill;
     object-fit: fill;
}

#bc #vbt {
  overflow: hidden;
  border-radius: 30px;
  width: 47px;
  height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bc #vbt button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: inherit;
}

#bc #vbt button svg {
  width: 24px;
  height: 24px;
}

#bc #vbt button:hover {
  cursor: pointer;
  background: #dbdbdb;
}

#bc #vbt button:active svg {
  width: 23px;
  height: 23px;
}

#bc #shr {
  position: relative;
  top: -44px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
  display: none;
}

#bc #shr button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: none;
  position: relative;
}

#bc #shr button svg {
  position: absolute;
  top: 50;
  left: 50;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 24px;
  height: 24px;
}

#bc #shr button:hover {
  background: rgba(188, 187, 187, 0.346);
}

#bc #hbt {
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 379px;
  height: 47px;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 3px 4px 6px rgba(73, 72, 72, 0.25);
          box-shadow: 3px 4px 6px rgba(73, 72, 72, 0.25);
}

#bc #hbt button {
  height: inherit;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#bc #hbt button svg {
  width: 24px;
  height: 24px;
}

#bc #hbt button:hover {
  cursor: pointer;
  background: #dbdbdb;
}

#bc #hbt button:active svg {
  width: 23px;
  height: 23px;
}
/*# sourceMappingURL=bcpreview.css.map */